@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  html {
    @apply bg-white text-gray-500 antialiased;
  }
  .c-small {
    @apply max-w-screen-sm mx-auto px-4;
  }
  .c-large {
    @apply max-w-screen-xl mx-auto px-4;
  }
  .text-highlight {
    @apply text-gray-900;
  }
}
